.card-panel{

  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px  ;
  border: 0px dashed #000000;
  -webkit-box-shadow: 2px 3px 18px 5px rgba(0,0,0,0.51);
  -moz-box-shadow: 2px 3px 18px 5px rgba(0,0,0,0.51);
  box-shadow: 2px 3px 18px 5px rgba(0,0,0,0.51);
  border-top: 10%;
  opacity:0.9;
}
